version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_BACKEND_URL: http://localhost:8001
    ports:
      - "8051:80"
    environment:
      - NODE_ENV=production
